*{
    box-sizing: border-box;
    font-family: 'Fira Sans',sans-serif;
}

.logo{
    z-index: 2;

}

.bloc{
    margin-left: auto;
    margin-right: auto;
    width: 900px;

}

header{
    background-image: url("img/flash_img.png");
    height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-content: center;
    position: relative;
}

header div{
    display: flex;
    height: 40px;
    background-color: rgb(104, 10, 10);
    justify-content: space-around;
    background-position: center;
    position: relative;
    top: 140px;
}

header div a{
    position: relative;
   color: seashell;
   display: flex;
   justify-content: center;
   padding: 8px;
   text-decoration: none;
}
header div a :hover{
    background-image: url(img/rings.png);
}


.bloc-image1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top: 70px;
}

.container{
    display: flex;
    flex-direction:row; 
    justify-content: space-between;  
    padding-top: 30px;
}
.bloc-image21{
    display: flex;
    flex-direction:row;  
}

.bloc-image21 img{
    padding-top: 15px;
}

.bloc-image22{
    display: flex;
    flex-direction:row; 
    
}

.bloc-image22 img{
    padding-top: 20px;
}

.bloc-image2{
    display: flex;
    flex-direction:column;    
    

}

.bloc-text{
    width: 350px;
}

.bloc-text nav h1{
    font-family:sans-serif;
    color: rgb(114, 13, 13);
}

.image1{
    padding-right: 20px;
}

.image2{
    padding-right: 20px;
}

